<div id="<%= dom_id post %>">
  <div>
    <% if post.image.attached? %>
      <%= image_tag post.image, alt: "Post image" %>
    <% end %>
  </div>

  <div>
    <%= post.body %>
  </div>

  <div>
    <%= render "posts/post_actions", post: post %>
  </div>

</div>
